.button {
    border: none;
    outline: none;
    cursor: pointer;
    background: #DA3A30;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
}