.menu {
    position: fixed;
    z-index: 198;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.40);
    justify-content: flex-end;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    overflow: hidden;
    display: flex;
}

.menu--active {
    visibility: visible;
    opacity: 1;
}

.menu--active .menu__dialog {
    transform: none;
}

.menu__dialog {
    position: relative;
    background: #000;
    padding: 146px 137px;
    min-height: 100%;
    overflow: auto;
    text-align: center;
    transition: 0.5s;
    transform: translateX(100%);
}


.menu__link {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-decoration: none;
    transition: all .6s;
}


.menu__link:last-child {
    margin-bottom: 0;
}


.menu__close {
    position: absolute;
    font-weight: 500;
    font-family: 'Montserrat Medium', sans-serif;
    top: 25px;
    right: 20px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    line-height: 20px;
    color: rgba(29, 32, 37, 0.5);
}

.menu__button-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    width: 233px;
    height: 40px;
    padding-top: 10px;
}